* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #eec40b;
  color: #111;
}

html {
  font-family: sans-serif;
  line-height: 1.6;
  background: #222;
}

.container {
  color: #eee;
  font-size: 2rem;
  padding: 3rem;
  margin: 0 auto;
  max-width: 950px;
  text-align: center;
}
